<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.speex.studyview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".aty.SettingActivity">
        </activity>
        <activity android:name=".aty.FlowLayoutActivity">
        </activity>
        <activity android:name=".aty.RectProgressActivity">
        </activity>
        <activity android:name=".aty.ViewGroup1Activity">
        </activity>
        <activity android:name=".aty.ViewGroup2Activity">
        </activity>
        <activity android:name=".aty.ViewGruop3Activity">
        </activity>
        <activity android:name=".aty.RandomNumberActivity">
        </activity>
        <activity android:name=".aty.TextImageActivity">
        </activity>
        <activity android:name=".aty.ProgressActivity">
        </activity>
        <activity android:name=".aty.VolomControlActivity">
        </activity>
        <activity android:name=".aty.CakeActivity">
        </activity>
        <activity android:name=".aty.FiveRingsActivity">
        </activity>
        <activity android:name=".aty.ScrollerActivity">
        </activity>
        <activity android:name=".aty.MixImageActivity">
        </activity>
        <activity android:name=".aty.CircleImageActivity">
        </activity>
        <activity android:name=".aty.LoadActivity">
        </activity>
        <activity android:name=".aty.RecyclerLoadActivity">
        </activity>
        <activity android:name=".aty.SinActivity">
        </activity>
        <activity android:name=".aty.DrawPanActivity">
        </activity>
        <activity android:name=".aty.PhotoDrawActivity">
        </activity>
    </application>

</manifest>