<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.speex.papayaview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CanvasTestActivity">
        </activity>
        <activity android:name=".activity.ClockActivity">
        </activity>
        <activity android:name=".activity.PieViewActivity">
        </activity>
        <activity android:name=".activity.CanvasControlActivity">
        </activity>
        <activity android:name=".activity.CanvasSaveActivity">
        </activity>
        <activity android:name=".activity.AlarmActivity">
        </activity>
        <activity android:name=".activity.ScaleRulerActivity">
        </activity>
        <activity android:name=".activity.AlarmClockDialActivity">
        </activity>
        <activity android:name=".activity.CheckActivity">
        </activity>
        <activity android:name=".activity.PictureActivity">
        </activity>
        <activity android:name=".activity.DrawTextActivity">
        </activity>
        <activity android:name=".activity.DrawTextOnPathActivity">
        </activity>
        <activity android:name=".activity.PathViewActivity">
        </activity>
        <activity android:name=".activity.DynamicPatActivity">
        </activity>
        <activity android:name=".activity.PathUseActivity">
        </activity>
        <activity android:name=".activity.Bezier2Activity">
        </activity>
        <activity android:name=".activity.Bezier3Activity">
        </activity>
        <activity android:name=".activity.LoveCircleActivity">
        </activity>
        <activity android:name=".activity.MagicCircleActivity">
        </activity>
        <activity android:name=".activity.MagicActivity">
        </activity>
        <activity android:name=".activity.WaterRippleActivity">
        </activity>
        <activity android:name=".activity.RecyclerActivity">
        </activity>
        <activity android:name=".activity.ViewPagerActivity">
        </activity>
        <activity android:name=".activity.UsePath2Activity">
        </activity>
        <activity android:name=".activity.UsePath3Activity">
        </activity>
        <activity android:name=".activity.PathMeasureActivity">
        </activity>
        <activity android:name=".activity.SearchViewActivity">
        </activity>
        <activity android:name=".activity.EventDispatchActivity">
        </activity>
    </application>

</manifest>